:root {
    --black-50: #f6f6f6;
    --black-100: #e7e7e7;
    --black-300: #b0b0b0;
    --black-400: #888888;
    --black-600: #5d5d5d;
    --black-950: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--black-300);
}

.navbar__logo img {
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.navbar .navbar__nav {
    display: flex;
}

.navbar .navbar__nav .navbar__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar .navbar__nav .navbar__nav-list .navbar__nav-link {
    background: var(--black-400);
    color: white;
    padding: 10px;
    margin: 5px;
    width: 90px;
    text-align: center;
    border-radius: 10px;
}

.navbar .navbar__nav .navbar__nav-list .navbar__nav-link a {
    text-decoration: none;
    color: var(--black-50);
}

.navbar .navbar__nav .navbar__nav-list .navbar__nav-link:hover {
    cursor: pointer;
    background: var(--black-600);
}

main {
    margin: 20px;
    display: flex;
    width: calc(100%-30px);
    height: 100%;
}

/* Listar Todos */
.list__todo {
    margin-top: 30px;
    width: 50%;
    height: 450px;
    max-height: 450px;
    overflow-y: scroll;
}

table {
    width: 100%;
    text-align: center;
    border: 1px solid black;
}

th {
    height: 35px;
}

td {
    height: 35px;
}

th,
td {
    vertical-align: middle;
    border: 1px solid #000;
    border-spacing: 0;
}

/* Formulario */

.add__todo-form {
    width: 50%;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.add__todo-form input {
    margin: 15px 0;
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--black-400);
}

.add__todo-form button {
    padding: 10px;
    width: 100%;
    background: var(--black-400);
    font: bold;
    color: white;
    border: none;
    border-radius: 15px;
}

.add__todo-form button:hover {
    cursor: pointer;
    background: var(--black-600);
}

.footer {
    width: 100%;
    height: 46px;
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--black-100);
    background: var(--black-950);
}

.mesagge {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: var(--black-100);
}

.success {
    background-color: rgb(59, 175, 59);
}

.error {
    background-color: rgb(182, 49, 49);
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_delete,
.button_complete {
    background: none;
    border: none;
}

.button_delete:hover,
.button_complete:hover {
    cursor: pointer;
}

.button_complete:disabled,.button_complete:disabled:hover {
    filter: grayscale();
    cursor: auto;
}
